.heading {
    font-size: 23px;
    width: 100%;
    margin: 0;
}

.note {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

body {
    background-size: cover;
}

.div_speed {
    float: left;
}

.div_speed_img {
    width: 150px;
    border-radius: 100px;
}

#speed {
    font-size: 23px;
    margin: 15px;
}

.div_vol {
    float: right;
}

.div_vol_img {
    width: 150px;
    border-radius: 100px;
}

#vol {
    font-size: 23px;
    margin: 15px;
}

.play_button {
    width: 130px;
    font-size: 25px;
}

canvas 
{
    border: 5px solid forestgreen;
    border-radius: 20px;
}